[submodule "sarabeat"]
	path = sarabeat
	url = https://github.com/articulab/InMind-April2017-BEAT
	branch = deployment-may2017
	ignore = dirty
[submodule "dialogos"]
	path = dialogos
	url = https://bitbucket.org/timobaumann/dialogosscratch
    branch = timo-movies-embeddable
    ignore = dirty
